# Bender dependency managers directory
.bender

# abc log file
*.history

hw/generated
hw/cheshire_bootrom_split.sv

# target/sim
target/sim/models
target/sim/vsim/compile.*.tcl
!target/sim/vsim/compile.bootrom.rtl.tcl
target/sim/vsim/*.log
target/sim/vsim/modelsim.ini
target/sim/vsim/transcript
target/sim/vsim/vsim.wlf
target/sim/vsim/work/
target/nonfree

# target/ihp13
target/ihp13/pickle/out
target/ihp13/macro_cells
target/ihp13/backend-run/
target/ihp13/*/out/
target/ihp13/openroad/save/
target/ihp13/openroad/reports/

# target/verilator
target/verilator/build/
target/verilator/obj_dir/
# CVA6's tracer writes here when the model is run from the repo root
/trace_hart_*.dasm

# Editor fun
.dvt
dvt_build.log
.vscode
.DS_Store

*.log